* {
  margin: 0px;
}

body {
  background-color: rgb(123, 209, 243);
}
.top {
  width: 650px;
  background-color: rgb(97, 185, 214);
  margin: 20px auto 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 7px solid rgb(99, 13, 168);
}

.top h2 {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(2, 25, 44);
}

.top img {
  width: 350px;
  margin-left: 140px;
}

.top p {
  font-family: cursive;
  font-size: 14px;
  color: rgb(71, 26, 116);
  margin-top: 15px;
  text-align: justify;
}
